<h2>Schoolname</h2>
<ul>
    <li>Teachers</li>
    <li>Environment</li>
    <li>Facilities</li>
    <li>Food</li>
</ul>

<div class="col-md-6">   
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Contacts</h3>
        </div>
        <div class="panel-body">
            <p>Gata</p>
            <p>Postnr Stad</p>
            <p>Misc info</p>
        </div>
    </div>
</div>

<div>
  <h3>Comments</h3>

    <p>date</p>

    <p>
        My opinions about the school which I think is very good and really treats my kids in a
        great manor
    </p>
</div>
