<div>
    <div>
        Larare :
        <uib-rating ng-model="rate" max="max" readonly="isreadonly" on-hover="hoveringover(value)" on-leave="overstar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
    </div>
    
    <div>
        Miljo:
        <uib-rating ng-model="rate" max="max" readonly="isreadonly" on-hover="hoveringover(value)" on-leave="overstar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
    </div>

    <div>
        Lokaler:
        <uib-rating ng-model="rate" max="max" readonly="isreadonly" on-hover="hoveringover(value)" on-leave="overstar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
    </div>

    <div>
        Bespisning:
        <uib-rating ng-model="rate" max="max" readonly="isreadonly" on-hover="hoveringover(value)" on-leave="overstar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
    </div>
</div>

