<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Comments</h2>
      <section class="comment-list" ng-repeat="comment in ratings.results">
        <article class="row">
          <div class="col-md-10 col-sm-10">
            <div class="panel panel-default arrow left">
              <div class="panel-body">
                <header class="text-left">
                  <time class="comment-date" datetime="">{{comment.createdAt | date:'MM-dd-yyyy'}}</time>
                </header>
                    <ul class="averageRatings">
                        <li>
                            Larare: 
                            <uib-rating ng-model="comment.teachersRate" max="comment.teachersRate" readonly="true"></uib-rating>
                        </li>
                        <li>
                            Miljo:
                            <uib-rating ng-model="comment.environmentRate" max="comment.environmentRate" readonly="true"></uib-rating>
                        </li>
                        <li>
                            Lokaler:
                            <uib-rating ng-model="facilitiesRate" max="facilitiesRate" readonly="true" ></uib-rating>
                        </li>
                        <li>
                            Bespisning:
                            <uib-rating ng-model="foodRate" max="foodRate" readonly="true"></uib-rating>
                        </li>
                    </ul>
                    <div class="comment-post">
                  <p>
                    {{comment.commentText}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>

<div>
{{ ratings.results }}
</div>
