<h2>{{school.name}}</h2>

<div class="row">
    <div class="col-sm-6">   
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Medelbetyg</h3>
            </div>
            <div class="panel-body">
                <ul class="averageRatings">
                  <li>
                    Larare: 
                    <uib-rating ng-model="teacherAverage" max="teacherAverage" readonly="true"></uib-rating>
                  </li>
                  <li>
                    Miljo:
                    <uib-rating ng-model="environmentAverage" max="environmentAverage" readonly="true"></uib-rating>
                  </li>
                  <li>
                    Lokaler:
                    <uib-rating ng-model="facilitiesAverage" max="facilitiesAverage" readonly="true" ></uib-rating>
                  </li>
                  <li>
                    Bespisning:
                    <uib-rating ng-model="foodAverage" max="foodAverage" readonly="true"></uib-rating>
                  </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">   
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Kontakt</h3>
            </div>
            <div class="panel-body">
                <p>{{school.street}}</p>
                <p>{{school.postalcode}} {{school.city}}</p>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'templates/shared/ratingsForm.html'"></div>

<div>
  <h3>Kommentarer</h3>

    <p>date</p>
    <p>
        My opinions about the school which I think is very good and really treats my kids in a
        great manor
    </p>
</div>
