<h2>{{school.name}}</h2>

<div class="row">
    <div class="col-sm-4">   
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Medelbetyg</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Larare: {{school.ratings[0].teachers}}</li>
                    <li>Miljo: {{school.ratings[0].environment}}</li>
                    <li>Lokaler:  {{school.ratings[0].facilities}}</li>
                    <li>Bespisning:  {{school.ratings[0].food}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">   
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Kontakt</h3>
            </div>
            <div class="panel-body">
                <p>{{school.street}}</p>
                <p>{{school.postalcode}} {{school.city}}</p>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'templates/shared/ratingsForm.html'"></div>

<div>
  <h3>Kommentarer</h3>

    <p>date</p>
    <p>
        My opinions about the school which I think is very good and really treats my kids in a
        great manor
    </p>
</div>
